<div id="articles">
  <% @node.pages.sort{ |a, b| b.order <=> a.order }.each do |page| %>
    <article>
      <header>
        <h3>
          <%= link_to page.text_title, '/pages/'+page.node.path+'/'+page.path.to_s, :class => "article-title" %>
        </h3>
        <div class="article-author">
          Submitted by <%= page.user.name %> on <%= page.created_at.to_s(:long) if !page.created_at.nil? %>
        </div>
        <hr />      
      </header>

      <p>
        <%= page.text_body[0..500].html_safe %>
        <% if page.text_body.length>500 %>
          ...
        <% end %>
      </p>

      </br>
      <%= link_to "read more", '/pages/'+page.node.path+'/'+page.path.to_s %>
    </article>
    <br />
  <% end %>

</div>