<%= render 'layouts/header' %>

<% @node.pages.sort{ |a, b| a.order <=> b.order }.each do |page| %>
	<div>
		<p>
		  <b>Title:</b>
		  <%= page.text_title %>
		</p>

		<p>
		  <b>Author:</b>
		  <%= page.user.name %>
		</p>

		<p>
		  <b>Body:</b>
		  <%= page.text_body[0..500] %>
		  <% if page.text_body.length>500 %>
		  	...
		  <% end %>
		</p>

		<%= link_to "read more", '/pages/'+page.node.path+'/'+page.path.to_s %>
	</div>

	<br/>
<% end %>