<%= link_to '<i class="icon-arrow-left"></i> Back'.html_safe, contests_path %>
<br />
<br />

<% if (@contest.user==current_user || current_user.admin?) %>
  <%= link_to '<i class="icon-wrench icon-white"></i> Control panel'.html_safe, 
      contest_path(@contest.path)+'/control', 
      class: "btn btn-inverse" %>
  <br />
  <br />
<% end %>

<div id="body-bgcolor">
  <center style = "Но это центр, 
                  тут только правда
                  И если я об этом пишу,
                  Значит так надо.">
    <h3>
      <%= @contest.title %>
    </h3>

    <p class="muted">
      <%= @contest.description %>
    </p>

    <%= render 'contests/contest_info' %>
  </center>


  <% if @contest.user!=current_user && !current_user.admin? && !current_user.participate?(@contest) && !@contest.over? %>
    <%= link_to "Participate", contest_path(@contest.path) + "/participate", 
        :method => :post, 
        :class => "btn btn-large btn-primary"%>
    <br />
    <br />
  <% end %>


  <ul class="nav nav-pills">
    <li <%= "class=active" if @navpill==2 %> > 
      <%= link_to "Problems",   "/contests/#{@contest.path}/problems" %>
    </li>

    <li <%= "class=active" if @navpill==1 %> > 
      <%= link_to "Statement",   "/contests/#{@contest.path}/statement" %>
    </li>

    <li <%= "class=active" if @navpill==3 %> > 
      <%= link_to "Standings",  "/contests/#{@contest.path}/standings" %>
    </li>
    <li <%= "class=active" if @navpill==5 %> > 
      <%= link_to "Summary",    "/contests/#{@contest.path}/summary" %>
    </li>
    <li class="dropdown" <% "class=dropdown active" if @navpill==4 %> >
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Clars
          <b class="caret"></b>
        </a>
      <ul class="dropdown-menu">
        <li><%= link_to_if(1==0, "All clars", contest_messages_path(@contest.path)) %></li>
        <li><%= link_to_if(1==0, "Submit clar", contest_new_message_path(@contest.path)) %></li>
      </ul>
    </li>
  </ul>

</div>