<p id="contest-info">
  Type:
  <b>
    <%= (@contest.type==0) ? "ACM" : "IOI" %>
  </b>

  Start:
  <b>
    <%= (@contest.started?) ? @contest.time_start.strftime("%Y-%m-%d %H:%M") : 'Not started'%>
  </b>
  
  Duration:
  <b>
    <%= @contest.duration %>min
  </b>

  Status:
  <b><%if not @contest.started?%> NOT STARTED <%elsif @contest.over?%> OVER <%else%> RUN <%end%></b>
    
  <% time_left = @contest.time_left #get seconds left %>
  <% puts time_left %>
  <% if time_left != 0 %>
    <% m = (time_left/60).to_i %>
    <% s = time_left - m*60 %>
    Left:
    <b class="clock">
      <% if m > 0 then %>
        <span class="min"><%= m %></span> minutes
      <% end %>
      <span class="sec"><%= s %></span> seconds
    </b>
  <% end %>

</p>