<%= form_for(@contest, :url => @submit_path, :method => @submit_method) do |f| %>
  <% if @contest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contest.errors.count, "error") %> prohibited this contest from being saved:</h2>

      <ul>
      <% @contest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="field">
    <%= f.label :description, :class=>"control-label" %>
    <div class="controls">
      <%= f.text_area :description, :rows => 5 %>
    </div>
  </div>

  <%= f.datetime_select :time_start %>

  <br />

  <%= f.datetime_select :time_finish, :default => 5.hours.from_now %>

  <%= f.hidden_field :user, :value => current_user.id %>
  
  <div class="actions">
    <%= f.submit :class => "btn" %>
  </div>
<% end %>
