<%= link_to '<i class="icon-arrow-left"></i> Back'.html_safe, contest_path(@contest.path)+'/control' %>
<br />
<br />

<%= form_tag(contest_path(@contest.path)+'/control_problems_count', :method => :put) do %>
  <div class="control-group">
    <%= label_tag :problems_count, "Problems count", :class => 'control-label' %>
    <div class="controls">
      <%= number_field_tag :problems_count, @contest.problems_count, :in => 0..200, :class => 'span1'%>
    </div>
  </div>

  <%= submit_tag 'Update', :class => "btn" %>
<% end %>

<div class="tabbable" style="background-color: white;">
  <ul class="nav nav-tabs" id="body-bgcolor">
    <li class="active"><a href="#tab0" data-toggle="tab">Template</a></li>

    <% for i in 1..@contest.problems_count %>
      <li><a href="#tab<%= i %>" data-toggle="tab"> <%= i %> </a></li>
    <% end %>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="tab0">
      <p>I'm Template</p>
      <% @problem = @contest.problems.find_by(order: 0) %>
      <%= render 'problems/form' %>      
    </div>
    <% for i in 1..@contest.problems_count %>
      <div class="tab-pane" id="tab<%= i %>" >
        <p>Howdy, I'm in Section "tab<%= i %>".</p>
        <% @problem = @contest.problems.find_by(order: i) %>
        <%= render 'problems/form' %>
      </div>
    <% end %>
  </div>
</div>

<br />