<%= link_to '<i class="icon-arrow-left"></i> Back'.html_safe, contest_path(@contest.path) %>
<br />
<br />


<%= form_for(@contest, :url => contest_path(@contest.path)+'/control/update', :method => 'post') do |f| %>
  <table class="table table-bordered" style="width: 500px">
    <tr>
      <td>
        <div style="position: relative; left: 150px;">
          <%= label_tag :duration, "Contest duration"%>
          <%= f.number_field :duration, :in => 60..480, :step => 60 %>
        </div>
        <br />
      </td>
    </tr>

    <tr style="text-align: center;">
      <td style="width: 250px">
        <p>Start time</p>
        <%= f.datetime_select :time_start %>
        <%= f.submit 'Update', :class => "btn" %>
      </td>
      <td>
        <br />
        <br />
        <center>OR<center>
      </td>
      <td  style="width: 200px">
        <br />
        <br />
        <p>Start now</p>
        <%= f.submit 'Start', :class => "btn" %>
      </td>
    </tr>

  </table>
<% end %>
<br />


<%= link_to "Edit", edit_contest_path(@contest.path), class: "btn btn-warning" %>
||||
<%= link_to 'Destroy', contest_path(@contest.path), 
  method: :delete, 
  data: { confirm: 'Are you sure?' },
  class: "btn btn-danger"
%>
<br />
<br />
<br />
<%= link_to "Edit Problems", contest_path(@contest.path)+'/problems', class: "btn" %>
<br />
<br />
<%= link_to "Edit Participants", contest_path(@contest.path)+'/participants', class: "btn" %>