<%= link_to '<i class="icon-arrow-left"></i> Back'.html_safe, contest_path(@contest.path)+'/control' %>
<br />
<br />

<center>
  <p> <%= @contest.title %> </p>
  <%= render 'contest_info' %>
</center>


<table class="table table-striped table-bordered table-hover table-condensed" 
       style="width: 600px;">
  <thead>
    <tr>
      <th>tested time</th>
      <th>ID</th>
      <th>Participant</th>
      <th>Problem</th>
      <th>Status</th>

      <% if @contest.type==0 %> 
        <th>Test</th>
      <% elsif @contest.type==1 %>
        <th>Point</th>
      <% end %>

      <th>Error</th>
      <th>Recheck</th>
    </tr>
  </thead>

  <tbody>
    <% @submits.each do |submit| %>
      <% next if submit.participant.nil? %>

      <% contest = submit.problem.contest %>
      <% problem = submit.problem %>
      <% participant = submit.participant %>
      <tr <%= case submit.status['status']
              when "";"class=warning"
              when "AC","OK";"class=success"
              when "PE";"class=info"
              else "class=error"
            end %> 
      >
        <td style="width: 80px;"> <%= submit.updated_at.to_s(:time_s) %> </td>

        <td style="width: 25px;"> <%= submit.participant.path %> </td>

        <td style="width: 120px;">
          <%= link_to "#{participant.user.name}", "/submits/#{participant.contest.path}/#{participant.path}"%>
        </td>

        <td style="width: 45px;"> 
          <%= (contest.problems_count>26) ? problem.order : (problem.order+64).chr %> 
        </td>

        <td style="width: 20px;">
          <%= submit.status['status'] %>
        </td>

        <td style="width: 20px;">
          <% if @contest.type==0 %>
            <%= submit.status['test'] %>
          <% elsif @contest.ioi? && !(["CE", "SE"].include? submit.status['status']) %>
            <a href="#ioisubmitModal<%= submit.id %>" role="button" class="btn" data-toggle="modal">
              <%= submit.status['point'] %>
            </a>
          <% end %>
        </td>

        <td style="width: 35px;">
          <% if not submit.status['error'].blank? then %>
            <a href="#myModal<%= submit.id %>" role="button" class="btn" data-toggle="modal">See</a>
          <% end %>
        </td>

        <td style="width: 35px;">
          <%= link_to "recheck", recheck_path(submit.id), :method=>'put' %>
        </td>        
      </tr>


      <% if not submit.status['error'].blank? then %>
        <div class="modal hide fade"  id="myModal<%= submit.id %>"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Error</h3>
          </div>

          <div class="modal-body">
            <% submit.status['error'].each do |error| %>
              <p> <%= error %> </p>
            <% end %>
          </div>

          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          </div>
        </div>
      <% end %>


      <% if @contest.type==1 %>
        <div class="modal hide fade"  id="ioisubmitModal<%= submit.id %>"  tabindex="-1" role="dialog" aria-labelledby="ioisubmitModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="ioisubmitModalLabel"> 
              Participant: <%= submit.participant.user.name %>;
              Problem:     <%= submit.problem.order_abc %>;
              Point:       <%= submit.status['point'] %>
            </h3>
          </div>

          <div class="modal-body">
            <% submit.tests_status.each_with_index do |p, i| %>
              <% next if i==0 %>
              Test # <%= i %>, status: <%= p['status'] %>
              <% if not p['status']=='OK' %>
                <% p['error'].each do |err| %>
                  <br/>
                  <span class="label label-important">
                    <%= err.html_safe %>              
                  </span>              
                <% end %>
              <% end %>
              <br/>
            <% end %>
          </div>

          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          </div>
        </div>
      <% end %>

    <% end %>
  </tbody>
</table>