<legend>Contests</legend>

<% if can? :create, Contest %>
  <%= link_to 'New Contest', new_contest_path, :class => "btn btn-primary" %>
  <br />
  <br />
<% end %>

<div class="well">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Type</th>
        <!-- <th>Description</th> -->
        <th>Start time</th>
        <th>Duration</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @contests.each do |contest| %>
        <tr class="<%= if contest.started? && !contest.over? then 'success' end %>">
          <td><%= contest.title %></td>
          <td><%= (contest.type==0) ? "ACM" : "IOI" %></td>
          <td>
            <%= (contest.time_start.nil?) ? 'Not started' : contest.time_start.to_s(:well_datetime)%>
          </td>
          <td><%= contest.duration %> min </td>
          <td> 
            <% if contest.started? && !contest.over? %> 
                  Run
            <% elsif not contest.started? %>
                  soon..                  
            <% elsif contest.over? %>
                  Over
            <% end %>
          </td>
          <td><%= link_to 'Show', contest_path(contest.path) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br />
</div>