<h1>Upload Problems for <%= @contest.name %> </h1>
<br />

<%= form_tag({:action => :problems_unzip, :method => "post"}, :multipart => true) do %>
  <%= hidden_field_tag :contest_id, @contest.path %>

  <div class="control-group">
    <%= label_tag :problems_count, nil, :class => 'control-label' %>
    <div class="controls">
      <%= number_field_tag :problems_count, 0, :in => 1..200 %>
    </div>
  </div>

  <%= file_field_tag 'archive' %>

  <br />
  <br />

  <%= submit_tag("Upload", :class => "btn") %>
<% end %>

<%= link_to 'Back', contests_path %>
