<%= render "contest" %>

<% if not @last_success.nil? %>
  <p>Last success:
    <%= @last_success.created_at.strftime("%H:%M:%S") %>,
    <%= @last_success.participant.user.name %>,
    problem <%= @last_success.problem.order_abc %>.
  </p>
<% end %>

<table class="table table-hover table-condensed" >
  <thead>
    <tr>
      <th style="width:40px;">Place</th>
      <th>Participant</th>
      <% for i in 1..@contest.problems_count %>
        <th><%= @contest.problems[i].order_abc %></th>
      <% end %>
      <th style="width:70px;">Total</th>
      <th style="width:70px;">Penalty</th>
    </tr>
  </thead>

  <tbody>
    <% paint = true %>
    <% @standings.each_with_index do |participant, index| participant.summarize %>
      <tr 
        <% if participant.user == current_user then %>
          class='info'
        <% else %>
          <% if index > 0 && participant.point != @standings[index-1].point then paint = paint ^ true end %>
          <% if paint == true %>
            style="background-color: #f9f9f9;"
          <% end %>
        <%end%> 
      >
        <td> <%= index + 1 %> </td>
        <td> <%= participant.user.name %> </td>
        <% for i in 1..@contest.problems_count %>
        <td><%= 
          if participant.a[i] == 1
            "+"
          elsif participant.a[i] > 0
            "+"+(participant.a[i]-1).to_s 
          elsif participant.a[i] < 0
            participant.a[i].to_s
          end
        %></td>
        <% end %>
        <td><%= participant.point %></td>
        <td><%= participant.penalty %></td>

      </tr>
    <% end %>

    <tr>
      <td>  </td>
      <td> Total: </td>
      <% sum_all = 0 %>
      <% k_all = Array.new(@contest.problems_count+1) %>
      <% for i in 1..@contest.problems_count %>
        <% k_all[i] = @contest.problems[i].submits.count %>
        <% sum_all = sum_all + k_all[i] %>
        <td> <%= k_all[i] %> </td>
      <% end %>
      <td> <%= sum_all %> </td>
    </tr>

    <tr>
      <td>  </td>
      <td> Success: </td>
      <% sum_success = 0 %>
      <% k_success = Array.new(@contest.problems_count+1) %>
      <% for i in 1..@contest.problems_count %>
        <% k_success[i] = @contest.problems[i].submits.where(status: {:status=>"AC"}).count %>
        <% sum_success = sum_success + k_success[i]%>
        <td> <%= k_success[i] %> </td>
      <% end %>
      <td> <%= sum_success %> </td>
    </tr>

    <tr>
      <td>  </td>
      <td>  %: </td>
      <% get_percent = lambda {|a, b| (a==0) ? "0%" : "#{(b*100)/a}%" } %>
      <% for i in 1..@contest.problems_count %>
        <td> <%= get_percent.call(k_all[i], k_success[i]) %> </td>
      <% end %>
      <td> <%= get_percent.call(sum_all, sum_success) %> </td>
    </tr>

  </tbody>
</table>
