<%= render "contest" %>

<% if not @last_success.nil? %>
  <p>Last success by
    <%= @last_success.participant.user.name %>
    at <%= @last_success.created_at.strftime("%Y-%m-%d %H:%M") %>
    . Problem <%= @last_success.problem.order %>
  </p>
<% end %>

<table class="table table-bordered table-hover table-condensed" >
  <thead>
    <tr>
      <th>Name</th>
      <% for i in 1..@contest.problems_count %>
        <th><%= i%></th>
      <% end %>
      <th>Score</th>
      <th>Penalty</th>
    </tr>
  </thead>

  <tbody>

    <% paint = true %>
    <% @standings.each_with_index do |participant, index| participant.summarize %>
      <tr 
        <% if participant.user == current_user then %>
          class='info'
        <% else %>
          <% if index > 0 && participant.point != @standings[index-1].point then paint = paint ^ true end %>
          <% if paint == true %>
            style="background-color: #f9f9f9;"
          <% end %>
        <%end%> 
      >
        <td> <%= participant.user.name %> </td>
        <% for i in 1..@contest.problems_count %>
        <td><%= 
          if participant.a[i] == 1
            "+"
          elsif participant.a[i] > 0
            "+"+(participant.a[i]-1).to_s 
          elsif participant.a[i] < 0
            participant.a[i].to_s
          end
        %></td>
        <% end %>
        <td><%= participant.point %></td>
        <td><%= participant.penalty %></td>
      </tr>
    <% end %>
  </tbody>
</table>
