<%= render "contest" %>


<% if @contest.ioi? && @contest.full_feedback %>
  <div class="well">
    <table class="table table-condensed" >
      <thead>
        <tr>
          <% for i in 1..@contest.problems_count %>
            <% next if @contest.problems[i].disabled == true %>
            <th><%= @contest.problems[i].order_abc %></th>
          <% end %>
          <th style="width:70px;">Total</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <% participant = current_user.participant(@contest) %>
          <% for i in 1..@contest.problems_count %>
            <% next if @contest.problems[i].disabled == true %>
            <td><%= participant.attempt(i) %></td>
          <% end %>

          <td><%= participant.point %></td>
        </tr>
      </tbody>
    </table>

  </div>
<% end %>

<% @contest.problems_count.times do |i| %>
	<% @submissions = @summary[i+1] %>

  <% if not @submissions.blank? %>
    <dl class="dl-horizontal">
      <dt>Problem <%= @contest.problems[i+1].order_abc %></dt>
      <dd><%= render "submits/submits" %></dd> 
    </dl>
  <% end %>
<% end %>