<%= link_to '<i class="icon-arrow-left"></i> Back'.html_safe, edit_contest_path(@contest.path) %>
<br />
<br />

<h1>Upload Problems for "<%= @contest.title %>" </h1>
<br />

<%= form_tag({:action => :unpack, :method => "post"}, :multipart => true) do %>
  <p>Choose statement</p>
  <%= file_field_tag 'statement' %>
  <br />
  <br />
  <br />

  <p>Choose archive of problems</p>
  <%= file_field_tag 'archive' %>
  <br />
  <br />
  <br />  

  <%= submit_tag("Upload", :class => "btn") %>
<% end %>