<h1>Listing problems</h1>

<table>
  <tr>
    <th>Global path</th>
    <th>Order</th>
    <th>Tests path</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @problems.each do |problem| %>
  <tr>
    <td><%= problem.global_path %></td>
    <td><%= problem.order %></td>
    <td><%= problem.tests_path %></td>
    <td><%= link_to 'Show', problem %></td>
    <td><%= link_to 'Edit', edit_problem_path(problem) %></td>
    <td><%= link_to 'Destroy', problem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Problem', new_problem_path %>
