<%= form_for(@problem, :multipart => true) do |f| %>
  <%= hidden_field_tag :contest_id, @problem.contest.id %>
  <%= hidden_field_tag :problem_order, @problem.order %>
  <%= f.hidden_field :order %>

  
  <%= f.label :time_limit, "Time limit", :class => 'control-label' %>
  <%= f.number_field :time_limit, :in => 1..5, :class => 'span1' %>

  <%= f.label :memory_limit , "Memory limit" %>
  <%= f.number_field :memory_limit, :in => 16..512, :step => 16, :class => 'span1'  %>
  <br/>
  <br/>


  <%= label_tag 'tests_archive', "Upload archive of tests" %>
  <%= file_field_tag 'tests_archive' %>
  <% if @problem.tests_uploaded? then %>
    <span class="label label-success">
      Tests uploaded
      (<%= File.ctime( @problem.tests_dir ).to_s(:long) %>)
    </span>
  <% else %>
    <span class="label label-error">
      Tests not uploaded
    </span>  
  <% end %>
  <br/>
  <br/>



  <p>Checker</p>
  <table class="table table-bordered" style="widht:100;">
    <tbody>
      <tr>
        <td>
          <div>
            <label class="checkbox">
              <%= f.radio_button :checker_mode, 0 %>
              System
            </label>

            <% if not @problem.order==0 then %>
            <label class="checkbox">
              <%= f.radio_button :checker_mode, 1, 
                  :disabled => (@problem.template.checker_path.blank?) ? true : false %>
              Template
            </label>
            <% end %>

            <label class="checkbox">
              <%= f.radio_button :checker_mode, 2 %>
              Own
            </label>
          </div>
        </td>

        <td>
          <p>System checker</p>
          <%= f.select :checker, ["cmp_file", "cmp_file_nospace", "cmp_long_long", "cmp_long_long_seq",
                                  "cmp_long_double", "cmp_long_double_seq", "cmp_sexpr", "cmp_yesno"] %>
        </td>

        <% if not @problem.order==0 then %>
          <td>
            <p>Template checker</p>
            view code here..
          </td>
        <% end %>

        <td>
          <p>Own checker</p>
          <%= f.file_field 'uploaded_checker' %>

          <% if not @problem.checker_path.blank? then %>
            <span class="label label-success"> 
              <%= File.basename(@problem.checker_path) %> 
              (<%= File.ctime(@problem.checker_path).to_s(:long) %>)
            </span>
          <% end %>
        </td>
    </tbody>
  </table>

  <% if not @problem.order==0 %>
    <%= label_tag 'solution_file', "System test" %>
    <%= file_field_tag 'solution_file' %>
    <%= session["solution_#{@problem.order}_status"] %>
    <%= session["solution_#{@problem.order}_status_full"] %>
    <br />
    <br />    
  <% end %>

  <div class="actions">
    <%= f.submit "Update", :class => "btn" %>
  </div>
<% end %>


<%= link_to '<i class="icon-pencil icon-white"></i> Edit statement'.html_safe, 
    contest_path(@contest.path)+"/#{@problem.order}/edit_statement", :class => 'btn btn-info' %>
<br />
<br />