<%= form_for(@problem, :url => "#{contest_path(@contest.path)}/#{@problem.order}", :method => :put) do |f| %>

  <%= f.label :time_limit, "Time limit" %>
  <%= f.number_field :time_limit, :in => 1..5 %>

  <%= f.label :memory_limit , "Memory limit" %>
  <%= f.number_field :memory_limit, :in => 16..512, :step => 32  %>

  <%= f.label :checker, "Checker" %>
  <%= f.select :checker, ["cmp_file", "cmp_file_nospaces", "cmp_yesno"] %>

  <div class="actions">
    <%= f.submit "Update", :class => "btn" %>
  </div>
<% end %>
