<% @contest = @submit.problem.contest %>
<%= render "contests/contest" %>

<div style="background-color: white;">
  <ul class="nav nav-tabs" id="body-bgcolor">
    <% for i in 1..@contest.problems_count %>
      <li <%= "class=active" if !@submit.nil? && @submit.problem.order == i %> >
        <%= link_to "#{i}", "/contests/#{@contest.path}/#{i}" %>
      </li>
    <% end %>
  </ul>


  <% if @submit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submit.errors.count, "error") %> prohibited this submit from being saved:</h2>
      <ul>
      <% @submit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div id="articles">
    <p>
      <b>Global path:</b>
      <%= @submit.problem.global_path %>
    </p>

    <p>
      <b>Order:</b>
      <%= @submit.problem.order %>
    </p>

    <p>
      <b>Tests path:</b>
      <%= @submit.problem.tests_path %>
    </p>

    <table class="table table-condensed well">
      <thead>
        <tr>
          <th>#</th>
          <th>Submitted</th>
          <th>Tested</th>
          <th>Status</th>
          <th>Status full</th>
          <th>Source</th>
        </tr>
      </thead>

      <tbody>
        <% order = @submissions.count+1 %>
        <% @submissions.reverse_each do |i| %>
          <tr>
            <td>  <%= order -= 1 %>  </td>
            <td>  <%= i.created_at.to_s(:time_s) %>  </td>
            <td>  <%= i.updated_at.to_s(:time_s) %>  </td>
            <td>  <%= i.status %>  </td>
            <td>  <%= i.status_full %>  </td>
            <td>  <%= i.file_sourcecode_path %>  </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= form_tag(send_submit_path, :method => :post, :multipart => true) do %>
      <%= hidden_field_tag :status %>
      <%= hidden_field_tag :status_full %>
      <%= hidden_field_tag :problem , @submit.problem_id %>
      <%= hidden_field_tag :participant, @submit.participant_id %>
      <%= file_field_tag :file %>

      <div class="actions">
        <%= submit_tag "Submit" %>
      </div>
      <br />
    <% end %>
  </div>
</div>