<%= render "contests/contest" %>

<div style="background-color: white;">
  <ul class="nav nav-tabs" id="body-bgcolor">
    <% for i in 1..@contest.problems_count %>
      <li <%= "class=active" if !@submit.nil? && @submit.problem.order == i %> >
        <%= link_to "#{i}", "/contests/#{@contest.path}/#{i}" %>
      </li>
    <% end %>
  </ul>


  <% if @submit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submit.errors.count, "error") %> prohibited this submit from being saved:</h2>
      <ul>
      <% @submit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div id="articles">


    <%= link_to '<i class="icon-pencil icon-white"></i> Edit'.html_safe, 
        contest_path(@contest.path)+"/#{@submit.problem.order}/edit", :class => 'btn btn-info' %>


    <p>
      <b>Global path:</b>
      <%= @submit.problem.global_path %>
    </p>

    <p>
      <b>Order:</b>
      <%= @submit.problem.order %>
    </p>

    <p>
      <b>Tests path:</b>
      <%= @submit.problem.tests_path %>
    </p>

    <p>
      <b>Statement:</b>
      <% if @contest.problems_upload == 0#one_archive %>
        <%= link_to '<i class="icon-download-alt"></i> Download'.html_safe, 
            contest_path(@contest.path)+'/statement', :class => 'btn' %>
      <% else %>
        <%= render 'statement' %>
      <% end %>
    </p>
    <br />

    <%= form_tag(send_submit_path, :method => :post, :multipart => true) do %>
      <%= hidden_field_tag :status %>
      <%= hidden_field_tag :status_full %>
      <%= hidden_field_tag :problem , @submit.problem_id %>
      <%= hidden_field_tag :participant, @submit.participant_id %>
      <%= file_field_tag :file %>
      <div class="actions">
        <%= submit_tag "Submit" %>
      </div>
      <br />
    <% end %>

    <%= render "submits/submits" %>

  </div>
</div>
<br />