<%= render "contests/contest" %>

<div style="background-color: white;">
  <ul class="nav nav-tabs" id="body-bgcolor">
    <% for i in 1..@contest.problems_count %>
      <li <%= "class=active" if !@submit.nil? && @submit.problem.order == i %> >
        <%= link_to "#{(@contest.problems_count>26) ? i : (i+64).chr}", "/contests/#{@contest.path}/#{i}" %>
      </li>
    <% end %>
  </ul>

  <% if @submit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submit.errors.count, "error") %> prohibited this submit from being saved:</h2>
      <ul>
      <% @submit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div id="articles">

    <% if can? :edit, @submit.problem %>
      <%= link_to '<i class="icon-pencil icon-white"></i> Edit'.html_safe, 
          contest_path(@contest.path)+"/#{@submit.problem.order}/edit", 
          :class => 'btn btn-info' %>
    <% end %>

    <center>
      <h3>
        <%= @submit.problem.statement['title'] %>
      </h3>

      <p>
        <b>Time limit:</b>
        <%= @submit.problem.time_limit %> s
      </p>

      <p>
        <b>Memory limit:</b>
        <%= @submit.problem.memory_limit %> Mb
      </p>
    </center>


    <% if not @problem.statement["file_link"].blank? %>
      <%= link_to '<i class="icon-download-alt"></i> Contest\'s statement'.html_safe, 
          contest_path(@contest.path)+'/statement', :class => 'btn' %>
    <% end %>
    <% if not @problem.statement["text"].blank? %>
      <%= render 'statement' %>
    <% end %>
    <br />
    <br />


    <!-- if NOT author and admin then he can send submit -->
    <% if !(current_user == @contest.user || current_user.admin?) %>
      <% if not @contest.over? %>
        <%= form_tag(send_submit_path, :method => :post, :multipart => true) do %>
          <%= hidden_field_tag :status %>
          <%= hidden_field_tag :status_full %>
          <%= hidden_field_tag :problem , @submit.problem_id %>
          <%= hidden_field_tag :participant, @submit.participant_id %>
          <%= file_field_tag   :file %>
          <div class="actions">
            <%= submit_tag "Submit" %>
          </div>
          <br />
        <% end %>
      <% end %>

      <%= render "submits/submits" %>
    <% end %>
    <br />

  </div>
</div>
<br />