<h2>Listing users</h2>
<br />

<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th style="width: 40%;">Name</th>
        <th style="width: 30%;">email</th>
        <th style="width: 20%;">Role</th>
        <th style="width: 36px;"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>  <%= user.name %>  </td>
          <td>  <%= user.email %> </td>          
          <td>  <%= user.role %>  </td>
          <td>
              <%= link_to "", edit_user_path(user), :class=>"icon-pencil" %>
              <%= link_to "", user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "icon-trash" %>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>