<table class="table table-condensed well table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Submitted</th>
      <th>Tested</th>
      <th>Status</th>
      <th>Test</th>
      <th>Source</th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.sort_by { |obj| obj.updated_at }.reverse_each do |i| %>
      <tr <%= case i.status['status']
              when nil, "";"class=warning"
              when "AC";"class=success"
              when "PE";"class=info"
              else "class=error"
            end
          %>
      >
        <td style="width: 20px;">  <%= i.order %>  </td>
        <td style="width: 80px;">  <%= i.created_at.to_s(:time_s) %>  </td>
        <td style="width: 80px;">
          <%= (i.status['status'].blank?) ? "pending" : i.updated_at.to_s(:time_s) %>
        </td>
        <td style="width: 50px;">
          <!-- Button to trigger modal IF status is CE -->
          <% if not i.status['status']=='CE' %>
            <%= i.status['status'] %>
          <% else %>
            <a href="#CE<%= i.id %>" role="button" class="btn" data-toggle="modal">CE</a> 
          <% end %>
        </td>
        <td style="width: 40px;">  <%= i.status['test'] %>  </td>
        <td style="width: 80px;">  
          <%= link_to "view code", submit_view_path(i.participant.contest.path, i.participant.path, i.id), :target => '_blank' %> 
        </td>
      </tr>

      <!-- Modal -->
      <% if i.status['status']=='CE' then %>
        <div id="CE<%= i.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Compilation Error</h3>
          </div>
          
          <div class="modal-body">
            <% extname = File.extname(i.sourcecode) %>
            <% separator = "/#{File.basename(i.sourcecode)}:" #for .CPP %>
            <% i.status['error'].each do |error| %>
              <p>
                <% if error.include?(separator) && extname=='.cpp' %>
                  <% if error.include? separator+' ' then %> <br/> <%end%>
                  <%= error.partition(separator)[2] %>
                <% else %>
                  <%= error %>
                <% end %>
              </p>
            <% end %>
          </div>

          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          </div>
        </div>
      <% end %>

    <% end %>
  </tbody>
</table>