<table class="table table-condensed well table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Submitted</th>
      <th>Tested</th>
      <th>Status</th>
      <th>Test</th>
      <th>Compilation error</th>
      <th>Source</th>
    </tr>
  </thead>

  <tbody>
    <% order = @submissions.count+1 %>
    <% @submissions.sort_by { |obj| obj.updated_at }.reverse_each do |i| %>
      <tr <%= case i.status['status']
              when "";"class=warning"
              when "AC";"class=success"
              when "PE";"class=info"
              else "class=error"
            end
          %>
      >
        <td>  <%= order -= 1 %>  </td>
        <td style="width: 80px;">  <%= i.created_at.to_s(:time_s) %>  </td>
        <td style="width: 80px;">
          <%= (i.updated_at.to_s(:time_s) == i.created_at.to_s(:time_s)) ? "pending" : i.updated_at.to_s(:time_s) %>
        </td>
        <td style="width: 50px;">  <%= i.status['status'] %>  </td>
        <td style="width: 40px;">  <%= i.status['test'] %>  </td>
        <td>  <%= i.status['error'] if i.status['status']=='CE' %>  </td>
        <td style="width: 80px;">  <%= link_to "view code", 
              submit_path(i.participant.contest.path)+"/#{i.participant.path}/#{order}", 
              :target => '_blank' %> </td>
      </tr>
    <% end %>
  </tbody>
</table>