<%= render "contests/contest" %>

<dl class="dl-horizontal">
  <dt> Problem: </dt>
  <dd> <%= link_to "#{@submit.problem.order_abc}", contest_problem_path(@participant.contest.path, @submit.problem.order) %> </dd>

  <dt> Submit: </dt>
  <dd> #<%= @submit.order %> </dd>

  <dt> Status: </dt>
  <dd <%= (@submit.status["status"]=="AC")? "class=text-success" : "class=text-error" %> > 
    <%= @submit.status["status"] %> <dd>
</dl>


<% if @submit.status["status"]=="CE" %>
<pre>
<% extname = File.extname(@submit.sourcecode) %>
<% separator = "/#{File.basename(@submit.sourcecode)}:" #for .CPP %>
<% @submit.status['error'].each do |error| %>
<% if error.include?(separator) && extname=='.cpp' %><% if error.include? separator+' ' then %><br/><%end%><%= error.partition(separator)[2] %><% else %><%= error %><% end %><% end %></pre>
<% end %>


<div class="btn-group" style = "margin-bottom:15px;">
<%= link_to '<i class="icon-download-alt"></i> <b>Download</b>'.html_safe, 
submit_download_path(@participant.contest.path, @participant.path, @submit.id),
:class => 'btn btn-small' %>

<%= link_to '<b>Copy to Clipboard</b>'.html_safe, 
submit_download_path(@participant.contest.path, @participant.path, @submit.id),
:class => 'btn btn-small copy' %>
</div>

<% line_num=0 %>
<% text=File.open(@submit.sourcecode, "r").read %>
<% text.gsub!(/\r\n?/, "\n") %>

<pre class="sh_cpp prettyprint linenums" id="sourcecode">
<ol class="linenums"><% text.each_line do |line| %><li><%= line %></li><% end %></ol>
</pre>


<div id="ModalCopied" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <small id="ModalCopiedLabel">Copy to Clipboard</small>
  </div>
  <div class="modal-body">
    <strong>Code copied</strong>
  </div>
</div>
