<%= form_for(@page,:html => { :class=>"form-horizontal"}) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.hidden_field :user, :value => current_user.id %>
  <%= f.hidden_field :old_node %>
  <%= f.hidden_field :path %>
  <%= f.hidden_field :order %>


  <div class="control-group">
    <%= f.label :node, :class=>"control-label" %>
    <div class="controls">
      <%= f.collection_select(:node, @nodes, :id, :name) %>
    </div>
  </div>


  <div class="control-group">
    <%= f.label :text_title, :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :text_title, :class=>"span9" %>
    </div>
  </div>


  <div class="control-group">
    <%= f.label :text_body, :class=>"control-label" %>
    <div class="controls">
      <%= f.text_area :text_body, :rows => 9, :class=>"tinymce" %>
    </div>
  </div>

  <div style="float:right;">
    <%= f.submit nil, :class => 'btn' %>
  </div>
<% end %>
