<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text_title %><br />
    <%= f.text_field :text_title %>
  </div>
  <div class="field">
    <%= f.label :text_body %><br />
    <%= f.text_area :text_body %>
  </div>
  <div class="field" style="display: none;">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :parent %><br />
    <%= f.collection_select(:parent, @nodes, :path, :name) %>
  </div> 
 <div class="field">
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </div>
  <div class="field">
    <%= f.label :order %><br />
    <%= f.number_field :order %>
  </div>

  <div class="field" style="display: none;">
    <%= f.text_field :old_node %>
    <%= f.text_field :old_path %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
