<div class="well">

  <% @node = @pages[0].node %>
  <% @sortable = "sortable" + @node.path %>

  <% if can? :manage, Node %>
    <script>
      $(function() {
          $( "." + "<%= @sortable %>").sortable();
          $( "." + "<%= @sortable %>").disableSelection();
          $( "." + "<%= @sortable %>" + 'button').click(function(){
            var list = $("." + "<%= @sortable %>").sortable("toArray");
            alert( list );
          });
      });
    </script>

    <button class="<%= @sortable %>button">Save</button>
  <% end %>

  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Node</th>
        <th>Date</th>
        <th style="width: 36px;"></th>
      </tr>
    </thead>

    <tbody class="<%= @sortable %>">
      <% @pages.each do |page| %>
        <tr id="<%= page.path %>">
          <td> <%= page.text_title %> </td>
          <td> <%= page.user.name %> </td>
          <td> <%= page.node.name %> </td>
          <td> <%= page.created_at if !page.created_at.nil? %> </td>
          <td>
              <%= link_to "", '/pages/'+page.node.path+'/'+page.path.to_s+'/edit', :class=>"icon-pencil" %>
              <%= link_to "", '/pages/'+page.node.path+'/'+page.path.to_s+'/destroy', data: { confirm: 'Are you sure?' }, :class => "icon-trash" %>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>