<div class="well">
  <% @node = @pages[0].node %>

  <% if can? :manage, Node %>
    <button class="sortable_button">Save</button>
  <% end %>

  <table class="table">
    <thead>
      <tr>
        <th style="width: 40%;">Title</th>
        <th style="width: 30%;">Author</th>
        <th style="width: 20%;">Date</th>
        <th style="width: 36px;"></th>
      </tr>
    </thead>

    <tbody class="sortable" id="<%= @node.path %>">
      <% @pages.each do |page| %>
        <tr class="child" id="<%= page.path %>">
          <td> <%= page.text_title %> </td>
          <td> <%= page.user.name %> </td>
          <td> <%= page.created_at.to_s(:short) if !page.created_at.nil? %> </td>
          <td>
              <%= link_to "", '/pages/'+page.node.path+'/'+page.path.to_s+'/edit', :class=>"icon-pencil" %>
              <%= link_to "", '/pages/'+page.node.path+'/'+page.path.to_s+'/destroy', data: { confirm: 'Are you sure?' }, :class => "icon-trash" %>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>