<%= link_to 'edit registration', edit_user_registration_path %>

<br />
<br />

<%= link_to 'New Page', new_page_path %>

<br />

<h2>Your pages</h2>

<table style="padding-left:30px;">
    <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Author</th>
        <th>Path</th>
        <th>Order</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>


    <% @pages.each do |page| %>
      <tr>
        <td><%= page.text_title %></td>
        <td><%= page.text_body[0..100] %></td>
        <td><%= page.author %></td>
        <td><%= page.path %></td>
        <td><%= page.order %></td>
        <td><%= link_to 'Show', '/pages/'+page.node.path+'/'+page.path %></td>
        <td><%= link_to 'Edit', '/pages/'+page.node.path+'/'+page.path+'/edit' %></td>
        <td><%= link_to 'Destroy', '/pages/'+page.node.path+'/'+page.path+'/destroy', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

</table>