<%= render 'layouts/header' %>

<div id="articles">
  <article>

    <header>
      <h3>
        <%= @page.text_title %>
      </h3>

      <div class="article-author">
        Submitted by <%= @page.user.name %> on "#{DATE}"
      </div>

      <hr />
    </header>

    <p>
      <%= @page.text_body %>
    </p>

    <%= link_to 'DESTROY', '/pages/'+@page.node.path+'/'+@page.path.to_s+'/destroy' %> |
    <%= link_to 'Edit', '/pages/'+@page.node.path+'/'+@page.path.to_s+'/edit' %> |
    <%= link_to 'Back', :back %>
  </article>
</div>
