<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @page.text_title %>
</p>

<p>
  <b>Author:</b>
  <%= User.find(@page.author).name %>
</p>

<p>
  <b>Body:</b>
  <%= @page.text_body %>
</p>

<%= link_to 'DESTROY', '/pages/'+@page.node.path+'/'+@page.path.to_s+'/destroy' %> |
<%= link_to 'Edit', '/pages/'+@page.node.path+'/'+@page.path.to_s+'/edit' %> |
<%= link_to 'Back', :back %>