<div style="background-color: white;">
  <%= render 'layouts/header' %>

  <div id="articles">
    <article>
      <header>
        <h3>
          <%= @page.text_title %>
        </h3>
        <div class="article-author">
          Submitted by 
          <%= @page.user.name %> on <%= @page.created_at.to_s(:long) if not @page.created_at.nil? %>
        </div>
        <hr />
      </header>

      <p>
        <%= @page.text_body.html_safe %>
      </p>

      <% if can? :destroy, @page %>
        <%= link_to 'DESTROY', '/pages/'+@page.node.path+'/'+@page.path+'/destroy' %> |
      <% end %>
      <% if can? :edit, @page %>
        <%= link_to 'Edit', '/pages/'+@page.node.path+'/'+@page.path+'/edit' %> |
      <% end %>
      <%= link_to 'Back', :back %>
    </article>
    <br />
  </div>
</div>