<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @page.text_title %>
</p>

<p>
  <b>Author:</b>
  <%= @page.user.name %>
</p>

<p>
  <b>Body:</b>
  <%= @page.text_body %>
</p>

<%= link_to 'Edit', '/pages/'+@page.node.path+'/'+@page.path+'/edit' %> |
<%= link_to 'Back', :back %>