<header>
	<h1>ACM-KBTU</h1>
</header>

<nav>
	<%= link_to 'Main', root_path %>
	<%= link_to 'Edit..', list_path %>
  |
  <% if user_signed_in? %>
    <%= link_to 'my account', my_account_path %>
    <%= link_to 'sign out', destroy_user_session_path %>
    <h2> <%= current_user.name %> </h2>
  <% else %>
    <%= link_to 'sign in', new_user_session_path %>
    <%= link_to 'registrate', new_user_registration_path %>
  <% end %>
</nav>

<hr/>