<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">acm.KBTU.kz</a>

    <% if !current_user.nil? && current_user.admin? %>
      <ul class="nav">
        <li>
          <%= link_to 'Edit..', list_path %>
        </li>
      </ul>
    <% end %>

    <ul class="nav pull-right">
      <% if user_signed_in? %>

        <li>
          <%= link_to 'my account', my_account_path %>
        </li>
        <li>
          <%= link_to 'sign out', destroy_user_session_path, :method => :delete %>
        </li>
        <!-- <h2> <%= current_user.name %> </h2> -->
      <% else %>

        <li>
          <%= link_to 'sign in', new_user_session_path %>
        </li>
        <li>
          <%= link_to 'sign up', new_user_registration_path %>
        </li>

      <% end %>
    </ul>

  </div>
</div>