<!DOCTYPE html>
<html>
<head>
  <title>AcmKbtu</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="body-bgcolor">

  <div class="container menu">

    <%= render 'layouts/menu' %>

    <script>
      $(".alert").alert()
    </script>

    <p class="notice"><%= notice %></p>
    <div class="alert alert-error well">
      <%= alert %>
      <a class="close" data-dismiss="alert" href="#">×</a>
    </div>

  </div>

  <br/>
  <div class="container">

    <%= yield %>
    
  </div>

</body>
</html>
