<!DOCTYPE html>
<html>
<head>
  <title>acm.KBTU.kz</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>
</head>
<body id="body-bgcolor">

  <div id="wrap">
    <div class="container">
      <header>
        <%= render 'layouts/menu' %>
      </header>

      <% if !notice.blank? %>
        <div class="alert alert-success well">
          <a class="close" data-dismiss="alert" href="#">×</a>
          <% if notice.kind_of?(Array) %>
            <% len = notice.length %>
            <% len.times do |i|  %>
              <% next if i+1==len && notice[i].empty? %>
              <%= notice[i] %>
              <br /> 
            <% end %>
          <% else %>
            <%= notice %>
          <% end %>
        </div>
      <% end %>

      <% if !alert.blank? %>
        <div class="alert alert-error well">
          <a class="close" data-dismiss="alert" href="#">×</a>
          <% if alert.kind_of?(Array) %>
            <% len = alert.length %>
            <% len.times do |i|  %>
              <% next if i+1==len && alert[i].empty? %>
              <%= alert[i] %>
              <br /> 
            <% end %>
          <% else %>
            <%= alert.html_safe %>
          <% end %>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <div id="push"></div>
  </div>


  <footer>
    <div class="container">
      <p class="muted credit" >
        Made in KBTU | 
        Created by
        <%= link_to "Sattar Stamkulov", "http://www.linkedin.com/in/stamkulov" %>
        and
        <%= link_to "Azamat Mukhamejanov", "http://www.linkedin.com/pub/azamat-mukhamejanov/45/a2b/590" %>.
      </p>
    </div>
  </footer>

</body>
<%= javascript_include_tag "application" %>
</html>
