<!DOCTYPE html>
<html>
<head>
  <title>AcmKbtu</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="body-bgcolor">


  <div class="container">
    <%= render 'layouts/menu' %>

    <% if !notice.nil? %>
      <div class="alert alert-success well">
        <%= notice %>
        <a class="close" data-dismiss="alert" href="#">×</a>
      </div>
    <% end %>

    <% if !alert.nil? %>
      <div class="alert alert-error well">
        <%= alert %>
        <a class="close" data-dismiss="alert" href="#">×</a>
      </div>
    <% end %>
  </div>


  <br/>
  <br/>
  <br/>
  <div class="container">
      <%= yield %>
  </div>


</body>
</html>
